
{% extends "::base_all.html.twig" %}
{% block stylesheets %}
<style type="text/css">
.city_name
{
    font-size: 40px;
    height: 100px;
    vertical-align: middle;
    border: 0px solid red;
    padding-top: 50px;
    padding-left: 40px;
}

.city_table, .city_table td
{
    border-collapse: collapse;
    vertical-align: top;
}
.city_table
{
    width: 970px;
    border: 0px solid red;
}
.city_table .city_td_left
{
   width: 310px; 
}
.city_table .city_td_right
{
   width: auto; 
}
.city_table .city_td_middle
{
    width: 30px;
    outline: 0px solid green;
}
table.city_days_masses
{
    width: 600px;
    outline: 0px solid red;
    border-spacing: 0px;
}

table.city_days_masses th,
table.city_days_masses td
{
    border-collapse: collapse;
    -moz-border-radius: 40px / 10px 25px;
    -webkit-border-radius: 40px / 10px 25px;
    border-radius: 40px / 10px 25px;
    
    
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    
    border:1px solid #dcdcdc;
}

table.city_days_masses th.sunday
{
    width: 120px;
}


table.city_days_masses th:nth-of-type(2n+1),
table.city_days_masses td:nth-of-type(2n) { background-color: #f2f2ab; }
table.city_days_masses th:nth-of-type(2n),
table.city_days_masses td:nth-of-type(2n+1) { background-color: #dede9d; }
table.city_days_masses th.sunday,
table.city_days_masses td.sunday { background-color: #97ff87; }

table.city_days_masses th
{
    width: 70px;
    text-align: center;
    font-family: verdana sans;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 8px;
}

table.city_days_masses td
{
    padding-top: 10px;
}

table.city_days_masses:hover td
{
    opacity: 0.3;
    background-color: #ffffdd;
}
table.city_days_masses:hover td:hover
{
    opacity: 1;
    background-color: #97ff87;
}

ul.city_churches_hours
{
    margin: 0px;
    padding: 0px;
}

ul.city_churches_hours li
{
    list-style: none;
    padding: 8px 0px;
    margin: 0px;
    
    cursor: pointer;
}
ul.city_churches_hours li:hover
{
    background-color: #fffd63;
    border-radius: 10px;
}

.block_city_mass_time
{
    font-size: 13px;
    font-weight: bold;
}

.goto_main_page
{
    background-color: #fff;
    opacity: 0.001;
    position: absolute;
    top:0px;
    left:0px;
    width:120px;
    height: 120px;
    cursor: pointer;
}
</style>
{% endblock %}


{% block body %}
<a class="goto_main_page" href="{{ path('oip_msze_homepage') }}" title="Powrót do strony głównej"></a>
<div class="city_name">{{ city.name }}</div>

<table class="city_table">
    <tr>
        <td class="city_td_left">
            <label for="church_search">Szukaj parafii</label> <input type="text" name="church_search" placeholder="Szukaj" />
            <br/>
            <a href="{{ path('edit_or_add', {'city_id': city.id}) }}">+ Dodaj nową dzielnicę</a>
            {% render url('show_churches', {'city_id': city.id, 'full': true }) %}
        </td>
        <td class="city_td_middle"></td>
        <td class="city_td_right">
            
            <table class="city_days_masses">
                <thead>
                    {% for i in [6,0,1,2,3,4,5] %}
                        <th {% if i == 6 %}
                            class="sunday"
                            {% endif %}
                            >{{ days[i] }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for i in [6,0,1,2,3,4,5] %}
                    <td {% if i == 6 %}
                        class="sunday"
                        {% endif %}
                        >
                        <ul class="city_churches_hours">        
                        {% for hour in hours[i] %}
                            <li class="block_city_mass_time">{{ '%d'|format(hour.start_time / 100) }}:{{ '%02d'|format(hour.start_time % 100) }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
            
            
        </td>
    </tr>
</table>

{% endblock %}


{% block javascripts %}

<script type="text/javascript">   
$(document).ready(function() {
    resizeView();
    $(window).resize(function() {
        resizeView();
    }); 
    churches_render('');
    $('input[name=church_search]').keyup(function() {
        churches_render($(this).val());
    });
});
</script>
{% endblock %}
