
{% extends "::base_all.html.twig" %}
{% block stylesheets %}
<style type="text/css">
.city_name
{
    font-size: 40px;
    height: 100px;
    vertical-align: middle;
    border: 0px solid red;
    padding-top: 50px;
    padding-left: 40px;
}

.city_table, .city_table td
{
    border-collapse: collapse;
    vertical-align: top;
}
.city_table
{
    width: 970px;
    border: 0px solid red;
}
.city_table .city_td_left
{
   width: 310px; 
}
.city_table .city_td_right
{
   width: auto; 
}
.city_table .city_td_middle
{
    width: 10px;
    outline: 0px solid green;
}
table.city_days_masses
{
    /*width: auto;*/
    outline: 0px solid red;
    border-spacing: 2px;
}

table.city_days_masses th,
table.city_days_masses td
{
    width: 100px;
    
    border-collapse: collapse;
    -moz-border-radius: 40px / 10px 25px;
    -webkit-border-radius: 40px / 10px 25px;
    border-radius: 40px / 10px 25px;
    
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    
    border:1px solid #dcdcdc;
}

table.city_days_masses th:nth-of-type(2n+1),
table.city_days_masses td:nth-of-type(2n) { background-color: #f2f2ab; }
table.city_days_masses th:nth-of-type(2n),
table.city_days_masses td:nth-of-type(2n+1) { background-color: #dede9d; }
table.city_days_masses th.sunday,
table.city_days_masses td.sunday { background-color: #97ff87; }

table.city_days_masses th
{
    text-align: center;
    font-family: verdana sans;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px;
    cursor: pointer;
    overflow: hidden;
}

table.city_days_masses th:hover
{
    background-color: #fffd63;
}

table.city_days_masses td
{
    padding-top: 10px;
}

table.city_days_masses:hover td
{
    opacity: 0.3;
    background-color: #ffffdd;
}
table.city_days_masses:hover td:hover
{
    opacity: 1;
    background-color: #97ff87;
}

ul.city_churches_hours
{
    margin: 0px;
    padding: 0px;
}

ul.city_churches_hours li
{
    list-style: none;
    padding: 8px 0px;
    margin: 0px;
    
    cursor: pointer;
}
ul.city_churches_hours li:hover
{
    background-color: #fffd63;
    border-radius: 10px;
}

.block_city_mass_time
{
    font-size: 13px;
    font-weight: bold;
}

.goto_main_page
{
    background-color: #fff;
    opacity: 0.001;
    position: absolute;
    top:0px;
    left:0px;
    width:120px;
    height: 120px;
    cursor: pointer;
}
.block_mass_button
{
    margin: 5px 0;
}
#city_hours
{
    float: left;
    width: 102px;
    overflow: hidden;
}
#map-canvas
{
    width: 516px;
    height: 516px;
    float: right;
}

.city_hours_over
{
    width: 730px !important;
    position: absolute;
    z-index: 999;
    background-color: #FFFFDE;
    border: 1px solid #dede9d;
    border-radius: 7px;
}
.filler
{
    height: 1px;
    display: block;
    width: 100px;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
}
</style>
{% endblock %}


{% block body %}
<a class="goto_main_page" href="{{ path('oip_msze_homepage') }}" title="Powrót do strony głównej"></a>
<div class="city_name">{{ city.name }}</div>

<table class="city_table">
    <tr>
        <td class="city_td_left">
            <label for="church_search">Szukaj parafii</label> <input type="text" name="church_search" placeholder="Szukaj" />
            <br/>
            <a href="{{ path('edit_or_add', {'city_id': city.id}) }}" class="block_mass_button">+ Dodaj nową dzielnicę</a>
            {% render url('show_churches', {'city_id': city.id, 'full': true }) %}
        </td>
        <td class="city_td_middle"></td>
        <td class="city_td_right">
            <div id="city_hours"></div>
            <div id="map-canvas"></div>
        </td>
    </tr>
</table>

<script id="hours_template" type="text/template">
    <% var dTab = [6,0,1,2,3,4,5]; %>
    <table class="city_days_masses">
        <thead>
            <% for (var i in dTab) { %>
                <th <% if (dTab[i] == 6) { %>
                    class="sunday"
                    <% } %>
                    ><%= days[dTab[i]] %>
                    <div class="filler"></div>
                    <div class="hidden cnt_elem"><%= i %></div>
                    </th>
            <% } %>
        </thead>
        <tbody>
            <% for (var i in dTab) { %>
            <td <% if (dTab[i] == 6) { %>
                class="sunday"
                <% } %>
                >
                <ul class="city_churches_hours">        
                <% for (var hour in hours[dTab[i]]) { %>
                    <li class="block_city_mass_time">
                        <%= sprintf("%d:%02d", (hours[dTab[i]][hour].st / 100), (hours[dTab[i]][hour].st % 100)) %>
                    </li>
                <% } %>
                </ul>
                <div class="hidden cnt_elem"><%= i %></div>
            </td>
            <% } %>
        </tbody>
    </table>
</script>
{% endblock %}


{% block javascripts %}
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">   
function massesRender()
{
    var rendered = new EJS({text: $('#hours_template').html()}).render(
    {
     days: {{ days | json_encode | raw }}, 
     hours: {{ hours | json_encode | raw }}
    });
    $('#city_hours').html(rendered);    
}    

function initialize() {
    try
    {
        var mapOptions = {
          center: new google.maps.LatLng(52.245461,21.007233),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': '{{city.name}}' }, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
              map.setCenter(results[0].geometry.location);
              map.setZoom(12);
          }
        });
        /*google.maps.event.addListener(map, 'click', function(event) {
              hideGpsConfirm(); 
              $.oip.manager.setupPosition(event.latLng.lat(), event.latLng.lng());
              setupMarker(event.latLng, null, false); //remove center
              $.oip.manager.showHideSave();
        });*/

        return map;
    }
    catch(e)
    {

    }
    return undefined;
}

function setupMarkers(map, filter)
{
    var markers = [], force;
    filter = filter.toLowerCase();
    var filteredData = jQuery.extend(true, {}, churchDistrict);
    for (var key in filteredData)
    {
        force = false;
        if (filteredData[key]['name'].toLowerCase().contains(filter))
        {
            force = true;
        }
        
        var fdata = filteredData[key]['churches'];
        for (var ckey in fdata)
        {
            if (filter == '' || fdata[ckey]['name'].toLowerCase().contains(filter) ||
                fdata[ckey]['address'].toLowerCase().contains(filter) || force) {
                    if (fdata[ckey]['lat'] != null && fdata[ckey]['lng'] != null) {
                        var marker = new google.maps.Marker({
                            map: map,
                            position: new google.maps.LatLng(fdata[ckey]['lat'],fdata[ckey]['lng']),
                            draggable:false
                          }); 
                        markers.push(marker);
                }
            }
        }
    }
    return markers;
   // var rendered = new EJS({text: $('#churches_template').html()}).render({data: filteredData});
   // $('#churches_destination').html(rendered);  
}

function clearMarkers(markers)
{
    for (var i = 0; i < markers.length; i++ ) {
        markers[i].setMap(null);
    }
    markers.length = 0;
}

function resizeMap()
{
    var minVal = 400, diff = 180;
    if ($(document).height() - diff < minVal) {
        $('#map-canvas').height(minVal);
    } else {
        $('#map-canvas').height($(document).height() - diff);
    }   
}

function showDay(cnt)
{
    $('.city_days_masses th').show();
    $('.city_days_masses td').show();
    for (var i = 0; i < cnt; i++) {
        $('.city_days_masses th').eq(i).hide();
        $('.city_days_masses td').eq(i).hide();
    }
}

$(document).ready(function() {
    resizeView();
    resizeMap();
    $(window).resize(function() {
        resizeView();
        resizeMap();
    }); 
    
    massesRender();
    var map = initialize(),
        markers = [];
    
    churches_render('');
    markers = setupMarkers(map, '');
    $('input[name=church_search]').keyup(function() {
        churches_render($(this).val());
        clearMarkers(markers);
        markers = setupMarkers(map, $(this).val());
    });
    
    var cnt_prev = 0, orig_left = parseFloat($('#city_hours').position().left);
    
    $('#city_hours').on('mouseenter', '.city_days_masses th', function() {
        $('#city_hours td').show();
        $('#city_hours th').show();
        
        $('#city_hours').addClass('city_hours_over');
        /*if (orig_left - 100*cnt_prev < 0) {
            $('#city_hours').css('left', 0);
        } else {
            $('#city_hours').css('left', orig_left - 100*cnt_prev);
        }*/
        $('#city_hours').css('left', orig_left - 100*cnt_prev);
    }).on('mouseleave', '.city_days_masses', function() {
        showDay(cnt_prev);
        $('#city_hours').removeClass('city_hours_over');
        
    }).on('click', '.city_days_masses th, .city_days_masses td', function() {
        var cnt = parseInt($.trim($(this).find('.cnt_elem').html()));
        showDay(cnt);
        cnt_prev = cnt;
        $('#city_hours').removeClass('city_hours_over');
    });
    //co 104
});
</script>
{% endblock %}
