{% extends "::base_all.html.twig" %}


{% block stylesheets %}
<link href="{{ asset('bundles/oipmsze/css/city.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="block_city">
<div class="block_city_form">
    <table>
        <tr>
            <td><input type="text" placeholder="Nazwa miasta" class="block_city_name"/></td>
            <td><div class="block_city_add"></div></td>
            <td><span class="block_city_use hidden">lub użyj isniejącego miasta:</span></td>
            <td><div class="block_city_more"></div></td>
        </tr>
    </table>
</div>

<div class="block_city_selected hidden">
    <div class="block_city_selected_name"></div>
    <div class="block_city_selected_name_edit hidden">Edytuj</div>
    <input type="text" class="block_city_selected_name_edit_text hidden"/>
    <div class="block_city_selected_name_edit_save hidden">Zapisz nazwę</div>
    
    <div class="block_city_selected_change pointer">Zmień</div>
</div>
</div>



<div class="block_district hidden">
<div class="block_district_form hidden">
    <table>
        <tr>
            <td><input type="text" placeholder="Nazwa dzielnicy" class="block_district_name"/></td>
            <td><div class="block_district_add"></div></td>
            <td><span class="block_district_use hidden">lub użyj isniejącej dzielnicy:</span></td>
            <td><div class="block_district_more"></div></td>
        </tr>
    </table>
</div>

<div class="block_district_selected hidden">
    <div class="block_district_selected_name"></div>
    <div class="block_district_selected_name_edit hidden">Edytuj</div>
    <input type="text" class="block_district_selected_name_edit_text hidden"/>
    <div class="block_district_selected_name_edit_save hidden">Zapisz nazwę</div>
    
    <div class="block_district_selected_change pointer">Zmień</div>
</div>
</div>


<div class="block_church hidden">
<div class="block_church_form hidden">
    <table>
        <tr>
            <td><input type="text" placeholder="Nazwa kościoła" class="block_church_name"/></td>
            <td><div class="block_church_add"></div></td>
            <td><span class="block_church_use hidden">lub użyj isniejącego kościoła:</span></td>
            <td><div class="block_church_more"></div></td>
        </tr>
    </table>
</div>

<div class="block_church_selected hidden">
    <div class="block_church_selected_name"></div>
    <div class="block_church_selected_name_edit hidden">Edytuj</div>
    <input type="text" class="block_church_selected_name_edit_text hidden"/>
    <div class="block_church_selected_name_edit_save hidden">Zapisz nazwę</div>
    
    <div class="block_church_selected_change pointer">Zmień</div>
</div>
</div>

<div class="block_mass hidden">
<div class="block_mass_form hidden">
    <table>
        <tr>
            {#<td><input type="text" placeholder="Nazwa kościoła" class="block_church_name"/></td>
            <td><div class="block_church_add"></div></td>
            <td><span class="block_church_use hidden">lub użyj isniejącego kościoła:</span></td>#}
            <td><div class="block_mass_more"></div></td>
        </tr>
    </table>
</div>

</div>


<div id="save_all" class="hidden">Zapisz</div>



{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/oipmsze/js/edit_or_add_manager.js') }}" ></script>
<script type="text/javascript">    
$(document).ready(function() {
    $('.block_city_name').keyup(function() {
        var max_city_search = 10;
        if ($(this).val() == '')
        {
            $('.block_city_add').html('');
            $('.block_city_use').hide();
            $('.block_city_more').html('');
        }
        else
        {
            $('.block_city_add').html('Dodaj <span class="block_city_new common_border">' + $('.block_city_name').val() + '</span>');
            $.oip.ajax.getCities($('.block_city_name').val(), function(data) {
                    found_data = data;
                    var found = '<ul class="block_city_list">';
                    for(var x = 0; x < data.length && x < max_city_search; x++) {
                        found += '<li class="block_city_list_element"><span class="sim_c_name common_border">' + data[x].name + '</span><span class="hidden city_id">' + data[x].id + '</span></li>';
                    }
                    if (data.length > max_city_search) {
                        found += '<li>Oraz ' + (data.length - max_city_search) + ' innych</li>';
                    }

                    if (data.length == 0) {
                        $('.block_city_use').hide();
                    } else {
                        $('.block_city_use').show();
                    }
                    found += '</ul>';
                    $('.block_city_more').html(found);
            });
        }
    });
    
    //CITY
    $('.block_city_form').on('click', '.block_city_new', function() {
        $.oip.manager.setupCityId(-1, true, $('.block_city_name').val());
    });
    
    $('.block_city_form').on('click', '.block_city_list_element', function() {
        $.oip.manager.setupCityId($(this).find('.city_id').html());
    });
    
    $('.block_city_selected_change').click(function() {
        $.oip.manager.setupCityId(-1);
        $.oip.manager.setupDistrictId(-1);
        $.oip.manager.setupCityId(-1);
    });
    
    
    //district
    $('.block_district_name').keyup(function() {
        if ($(this).val() == '')
        {
            $('.block_district_add').html('');
            $('.block_district_use').hide();
        }
        else
        {
            $('.block_district_add').html('Dodaj <span class="block_district_new common_border">' + $('.block_district_name').val() + '</span>');
        }
    });
    
    //district
    $('.block_district_form').on('click', '.block_district_new', function() {
        $.oip.manager.setupDistrictId(-1, true, $('.block_district_name').val());
    });
    
    $('.block_district_form').on('click', '.block_district_list_element', function() {
        $.oip.manager.setupDistrictId($(this).find('.district_id').html());
    });
    
    $('.block_district_selected_change').click(function() {
        $.oip.manager.setupDistrictId(-1);
    });
    
    
    
     //church
    $('.block_church_name').keyup(function() {
        if ($(this).val() == '')
        {
            $('.block_church_add').html('');
            $('.block_church_use').hide();
        }
        else
        {
            $('.block_church_add').html('Dodaj <span class="block_church_new common_border">' + $('.block_church_name').val() + '</span>');
        }
    });
    
    //chruch
    $('.block_church_form').on('click', '.block_church_new', function() {
        $.oip.manager.setupChurchId(-1, true, $('.block_church_name').val());
    });
    
    $('.block_church_form').on('click', '.block_church_list_element', function() {
        $.oip.manager.setupChurchId($(this).find('.church_id').html());
    });
    
    $('.block_church_selected_change').click(function() {
         $.oip.manager.setupChurchId(-1);
    });
    
    
    
    
    
    $.oip.manager = new $.oip.managerDef({{ city_id }}, {{ district_id }}, {{ church_id }},                 
        {
          fun_city_select: function(name) {
                $('.block_city_selected_name').html(name);
                $('.block_city_form').hide();
                $('.block_city_selected').show();
            }, //city select
          fun_city_unselect: function() {    
                $('.block_city_selected').hide();
                $('.block_city_form').show();
            }, //city unselect
          fun_city_show_edit: function() {
              $('.block_city_selected_name_edit').show();
          },
          fun_city_hide_edit: function() {
              $('.block_city_selected_name_edit').hide();
          },

          fun_district_fill: function(data) {
                var found = '<ul class="block_district_list">';
                for (var x = 0; x < data.length; x++)
                {
                    found += '<li class="block_district_list_element">' + 
                        '<span class="sim_d_name common_border">' + data[x].name + '</span><span class="hidden district_id">' + data[x].id + '</span></li>';
                }
                found += '</ul>';
                $('.block_district_more').html(found);
            }, //dist fill
          fun_district_show: function() {
                $('.block_district_form').show();
                $('.block_district').show();
            }, //dist show
          fun_district_hide: function() {
                $('.block_district').hide();
            }, //dist hide
          fun_district_select: function(name) {
                $('.block_district_selected_name').html(name);
                $('.block_district_form').hide();
                $('.block_district_selected').show();
            }, //dist select
          fun_district_unselect: function() {
                $('.block_district_selected').hide();
                $('.block_district_form').show();
            }, //dist unselect
          fun_district_clear: function() {
                $('.block_district_more').html('');
            },
          fun_district_show_edit: function() {
              $('.block_district_selected_name_edit').show();
          },
          fun_district_hide_edit: function() {
              $('.block_district_selected_name_edit').hide();
          },  
            
            
            

          fun_church_fill: function(data) {
                var found = '<ul class="block_church_list">';
                for (var x = 0; x < data.length; x++)
                {
                    found += '<li class="block_church_list_element">' + 
                        '<span class="sim_ch_name common_border">' + data[x].name + '</span><span class="hidden church_id">' + data[x].id + '</span></li>';
                }
                found += '</ul>';
                $('.block_church_more').html(found);
            }, //dist fill
          fun_church_show: function() {
              $('.block_church_form').show();
              $('.block_church').show();
          }, //church show
          fun_church_hide: function() {
              $('.block_church').hide();
          }, //church hide
          fun_church_select: function(name) {
              $('.block_church_selected_name').html(name);
              $('.block_church_form').hide();
              $('.block_church_selected').show();
          }, //church select
          fun_church_unselect: function() {
            $('.block_church_selected').hide();
            $('.block_church_form').show();
          }, //church unselect
          fun_church_clear: function() {
            $('.block_church_more').html('');
          },
          fun_church_show_edit: function() {
              $('.block_church_selected_name_edit').show();
          },
          fun_church_hide_edit: function() {
              $('.block_church_selected_name_edit').hide();
          },
          
          fun_mass_fill: function(data) {
                var found = '<ul class="block_mass_list">';
                for (var x = 0; x < data.length; x++)
                {
                    found += '<li class="block_mass_list_element">' + 
                        '<span class="sim_ma_name common_border">' + data[x].start_time + '</span><span class="hidden mass_id">' + data[x].id + '</span></li>';
                }
                found += '</ul>';
                $('.block_mass_more').html(found);
            }, //dist fill
          fun_mass_show: function() {
              $('.block_mass_form').show();
              $('.block_mass').show();
          }, //church show
          fun_mass_hide: function() {
              $('.block_mass').hide();
          }, //church hide
          fun_mass_clear: function() {
            $('.block_mass_more').html('');
          },
          
          
          fun_hide_save: function() {
              $('#save_all').hide();
          },
          fun_show_save: function() {
            $('#save_all').show();
          }
        }
    );
});
</script>
{% endblock %}