{% extends "::base_all.html.twig" %}


{% block stylesheets %}
<link href="{{ asset('bundles/oipmsze/css/city.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="block_city">
<div class="block_city_form">
    <table>
        <tr>
            <td><input type="text" placeholder="Nazwa miasta" class="block_city_name"/></td>
            <td><div class="block_city_add"></div></td>
            <td><span class="block_city_use hidden">lub użyj isniejącego miasta:</span></td>
            <td><div class="block_city_more"></div></td>
        </tr>
    </table>
</div>

<div class="block_city_selected hidden">
    <div class="block_city_selected_name"></div>
    <div class="block_city_selected_name_edit hidden">Edytuj</div>
    <input type="text" class="block_city_selected_name_edit_text hidden"/>
    <div class="block_city_selected_name_edit_save hidden">Zapisz nazwę</div>
    
    <div class="block_city_selected_change pointer">Zmień</div>
</div>
</div>



<div class="block_district hidden">
<div class="block_district_form hidden">
    <table>
        <tr>
            <td><input type="text" placeholder="Nazwa dzielnicy" class="block_district_name"/></td>
            <td><div class="block_district_add"></div></td>
            <td class="block_district_list_element">                
                <span class="sim_d_name common_border">Brak dzielnicy</span>
                <span class="block_default_district_id hidden district_id">-100</span>
            </td>
            <td><span class="block_district_use hidden">lub użyj isniejącej dzielnicy:</span></td>
            <td><div class="block_district_more"></div></td>
        </tr>
    </table>
</div>

<div class="block_district_selected hidden">
    <div class="block_district_selected_name"></div>
    <div class="block_district_selected_name_edit hidden">Edytuj</div>
    <input type="text" class="block_district_selected_name_edit_text hidden"/>
    <div class="block_district_selected_name_edit_save hidden">Zapisz nazwę</div>
    
    <div class="block_district_selected_change pointer">Zmień</div>
</div>
</div>


<div class="block_church hidden">
<div class="block_church_form hidden">
    <table>
        <tr>
            <td><input type="text" placeholder="Nazwa kościoła" class="block_church_name"/></td>
            <td><div class="block_church_add"></div></td>
            <td><span class="block_church_use hidden">lub użyj isniejącego kościoła:</span></td>
            <td><div class="block_church_more"></div></td>
        </tr>
    </table>
</div>

<div class="block_church_selected hidden">
    <div class="block_church_selected_name"></div>
    <div class="block_church_selected_name_edit hidden">Edytuj</div>
    <input type="text" class="block_church_selected_name_edit_text hidden"/>
    <div class="block_church_selected_name_edit_save hidden">Zapisz nazwę</div>
    
    <div class="block_church_selected_change pointer">Zmień</div>
</div>
</div>

<div class="block_mass hidden">
<div class="block_mass_form hidden">
    <table>
        <tr>
            <td><input type="text" placeholder="Adres" class="block_church_address"/></td>
            <td><textarea placeholder="Opis" class="block_church_description"></textarea></td>
            {#<td><input type="text" placeholder="Nazwa kościoła" class="block_church_name"/></td>
            <td><div class="block_church_add"></div></td>
            <td><span class="block_church_use hidden">lub użyj isniejącego kościoła:</span></td>#}
            <td><div class="block_mass_more"></div></td>
        </tr>
    </table>
</div>

</div>

<script id="city_template" type="text/template"> 
    <ul class="block_city_list">
        <% for(var x = 0; x < data.length && x < max_city_search; x++) { %>
            <li class="block_city_list_element">
                <span class="sim_c_name common_border">
                    <%= data[x].name %>
                </span>
                <span class="hidden city_id">
                    <%= data[x].id %>
                </span>
            </li>
         <% } %>
         <% if (data.length > max_city_search) { %>
            <li>Oraz <%= (data.length - max_city_search) %> innych</li>
         <% } %>
    </ul>
</script>

<script id="district_template" type="text/template"> 
    <ul class="block_district_list">
        <% for (var x = 1; x < data.length; x++) { %>
            <li class="block_district_list_element">
                <span class="sim_d_name common_border">
                    <%= data[x].name %>
                </span>
                <span class="hidden district_id">
                    <%= data[x].id %>
                </span>
            </li>
        <% } %>
    </ul>
</script>

<script id="church_template" type="text/template"> 
    <ul class="block_church_list">
        <% for (var x = 0; x < data.length; x++) { %>
            <li class="block_church_list_element">
                <span class="sim_ch_name common_border">
                    <%= data[x].name %>
                </span>
                <span class="hidden church_id">
                    <%= data[x].id %>
                </span>
             </li>
         <% } %>
    </ul>
</script>

<script id="mass_template" type="text/template"> 
    <ul class="block_mass_list">
    <% for (var x = 0; x < data.length; x++) { 
        var _tmp_date = new Date(data[x].start_time);
        var _tmp_min = _tmp_date.getMinutes() < 10 ? '0' + _tmp_date.getMinutes() : _tmp_date.getMinutes(); 
        %>
        <li class="block_mass_list_element">
            <span class="sim_ma_name common_border">
                <%= _tmp_date.getHours() %>:<%= _tmp_min %>
            </span>    
            <span class="sim_ma_name common_border">
                <%= data[x].day_mon %>
                <%= data[x].day_tue %>
                <%= data[x].day_wed %>
                <%= data[x].day_thu %>
                <%= data[x].day_fri %>
                <%= data[x].day_sat %>
                <%= data[x].day_sun %>
            </span>
            <span class="sim_ma_name common_border">
                <%= data[x].details %>
            </span>
                
            <span class="hidden mass_id">
                <%= data[x].id %>
            </span>
        </li>
     <% } %>
     </ul>
</script>


<div id="oip_captcha">
{{ form|raw }}
</div>


<div id="map-canvas"></div>

<div id="save_all" class="hidden pointer">Zapisz</div>



{% endblock %}


{% block javascripts %}
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript" src="{{ asset('bundles/oipmsze/js/edit_or_add_manager.js') }}" ></script>
<script type="text/javascript">    

    var map;
    var marker;
    
    var saved_pos;
    function _setupMarker()
    {
        if (saved_pos == null) {
            if (marker != null)
            {
                marker.setMap(null);
                marker = null;
            }
        } else {
            if (marker == null) {
                marker = new google.maps.Marker({
                    map: map,
                    position: saved_pos,
                    draggable:true
                  }); 
                  google.maps.event.addListener(marker, "dragend", function(event) { 
                    $.oip.manager.setupPosition(event.latLng.lat(), event.latLng.lng());
                    showSaveAll();
                  }); 
            } else {
                marker.setPosition(saved_pos);
            }
            $.oip.manager.setupPosition(saved_pos.lat(), saved_pos.lng());
            map.setCenter(marker.getPosition());           
        }
    }
    
    var markerTimer = new oip_timer(_setupMarker);
    function setupMarker(pos)
    {
        saved_pos = pos;
        markerTimer.stop();
        markerTimer.setup(300);
    }
    
    function setupMarkerFromObject(lat, lng)
    {
        var pos = new google.maps.LatLng(lat, lng);
        setupMarker(pos);
    }
    
    function goToAddress(address, zoom, gps)
    {
        if (gps != undefined)
        {
            var gpsLL = new google.maps.LatLng(gps.lat, gps.lng);
            map.setCenter(gpsLL);
            map.setZoom(zoom);
            setupMarker(gpsLL);
            $.oip.manager.setupPosition(gps.lat, gps.lng);
        }
        else
        {
            if (address == undefined)
            {
                setupMarker(null);
                map.setCenter(new google.maps.LatLng(52.038977,18.962402));
                map.setZoom(5);
            }
            else
            {
                geocoder = new google.maps.Geocoder();
                geocoder.geocode({ 'address': address }, function(results, status) {
                  if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    map.setZoom(zoom);
                    setupMarker(results[0].geometry.location);
                    $.oip.manager.setupPosition(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                  }
                });
            }
        }
    }
    
    function getMarkerPosition() {
        if (marker == undefined) {
            return { lat: null, lng: null};
        } else {
            var pos = marker.getPosition();
            return { lat: pos.lat(), lng: pos.lng() };
        }
    }
    
    function showSaveAll() {
        $('#save_all').show();
    }
    
    
$(document).ready(function() {
    
    
    function search_fun()
    {
        var max_city_search = 10;
        $.oip.ajax.getCities($('.block_city_name').val(), function(data) {
                //found_data = data;
                var found = new EJS({text: $('#city_template').html()}).render({data: data, max_city_search: max_city_search});

                if (data.length == 0) {
                    $('.block_city_use').hide();
                } else {
                    $('.block_city_use').show();
                }
                $('.block_city_more').html(found);
        });
    }
    
    var tim = new oip_timer(search_fun);
    
    $('.block_city_name').keyup(function() {
        if ($(this).val() == '')
        {
            tim.stop();
            $('.block_city_add').html('');
            $('.block_city_use').hide();
            $('.block_city_more').html('');
        }
        else
        {
            $('.block_city_add').html('Dodaj <span class="block_city_new common_border">' + $('.block_city_name').val() + '</span>');
            tim.stop();
            tim.setup(300);
        }
    });
    
    //CITY
    $('.block_city_form').on('click', '.block_city_new', function() {
        $.oip.manager.setupCityId(-1, true, $.trim($('.block_city_name').val()));
    });
    
    $('.block_city_form').on('click', '.block_city_list_element', function() {
        $.oip.manager.setupCityId($.trim($(this).find('.city_id').html()));
    });
    
    $('.block_city_selected_change').click(function() {
        $.oip.manager.setupCityId(-1);
        $.oip.manager.setupDistrictId(-1);
        $.oip.manager.setupChurchId(-1);
    });
    
    $('.block_city_selected_name_edit').click(function() {
        
    });
    
    
    //district
    $('.block_district_name').keyup(function() {
        if ($(this).val() == '')
        {
            $('.block_district_add').html('');
            $('.block_district_use').hide();
        }
        else
        {
            $('.block_district_add').html('Dodaj <span class="block_district_new common_border">' + $('.block_district_name').val() + '</span>');
        }
    });
    
    //district
    $('.block_district_form').on('click', '.block_district_new', function() {
        $.oip.manager.setupDistrictId(-1, true, $.trim($('.block_district_name').val()));
    });
    
    $('.block_district_form').on('click', '.block_district_list_element', function() {
        $.oip.manager.setupDistrictId($.trim($(this).find('.district_id').html()));
    });
    
    $('.block_district_selected_change').click(function() {
        $.oip.manager.setupDistrictId(-1);
    });
   
    
     //church
    $('.block_church_name').keyup(function() {
        if ($(this).val() == '')
        {
            $('.block_church_add').html('');
            $('.block_church_use').hide();
        }
        else
        {
            $('.block_church_add').html('Dodaj <span class="block_church_new common_border">' + $('.block_church_name').val() + '</span>');
        }
    });
    
    //chruch
    $('.block_church_form').on('click', '.block_church_new', function() {
        $.oip.manager.setupChurchId(-1, true, $.trim($('.block_church_name').val()));
    });
    
    $('.block_church_form').on('click', '.block_church_list_element', function() {
        $.oip.manager.setupChurchId($.trim($(this).find('.church_id').html()));
    });
    
    $('.block_church_selected_change').click(function() {
         $.oip.manager.setupChurchId(-1);
    });
    
    var _local_zoom = 16;
    function _local_addr()
    {
        goToAddress($.oip.manager.getGoogleSearch(), _local_zoom, $.oip.manager.getGoogleGPSPos());   
    }
    var addrTim = new oip_timer(_local_addr);
    function _local_goToAddress(zoom)
    {
        if (zoom != undefined) {
            _local_zoom = zoom;
        } else {
            _local_zoom = 16;
        }
        addrTim.stop();
        addrTim.setup(500);
    }
    
    $('.block_church_address').keyup(function() {
        $.oip.manager.setChurchAddress($(this).val());
        showSaveAll();
        _local_goToAddress(16);
    });
    
    $('.block_church_description').keyup(function() {
        $.oip.manager.setChurchDescription($(this).val());
        showSaveAll();
    });
    
    
    $('#save_all').click(function() {
        
        var re_c = $('#recaptcha_challenge_field').val();
        var re_r = $('#recaptcha_response_field').val();
        $.oip.manager.Save(re_c, re_r);
    });
    
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(52.245461,21.007233),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"),
          mapOptions);
                
      google.maps.event.addListener(map, 'click', function(event) {
        if ($.oip.manager.isAddressSetupAllowed())
        {
            setupMarker(event.latLng);
            showSaveAll();
        }
      });
      
      return map;
    }
    map = initialize();    
    
    $.oip.manager = new $.oip.managerDef({{ city_id }}, {{ district_id }}, {{ church_id }},                 
        {
          fun_city_select: function(name) {
                $('.block_city_selected_name').html(name);
                $('.block_city_form').hide();
                $('.block_city_selected').show();
                _local_goToAddress(11);
            }, //city select
          fun_city_unselect: function() {    
                $('.block_city_selected').hide();
                $('.block_city_form').show();
                _local_goToAddress(16);
            }, //city unselect
          fun_city_show_edit: function() {
              $('.block_city_selected_name_edit').show();
          },
          fun_city_hide_edit: function() {
              $('.block_city_selected_name_edit').hide();
          },

          fun_district_fill: function(data) {
                $('.block_default_district_id').html(data[0].id);
                var found = new EJS({text: $('#district_template').html()}).render({data: data});
                $('.block_district_more').html(found);
            }, //dist fill
          fun_district_show: function() {
                $('.block_district_form').show();
                $('.block_district').show();
            }, //dist show
          fun_district_hide: function() {
                $('.block_district').hide();
            }, //dist hide
          fun_district_select: function(name) {
                if (name == '') {
                  $('.block_district_selected_name').html('Bez dzielnicy.');
                } else {
                  $('.block_district_selected_name').html(name);
                }
                $('.block_district_form').hide();
                $('.block_district_selected').show();
                _local_goToAddress(15);
            }, //dist select
          fun_district_unselect: function() {
                $('.block_district_selected').hide();
                $('.block_district_form').show();
                _local_goToAddress(11);
            }, //dist unselect
          fun_district_clear: function() {
                $('.block_district_more').html('');
            },
          fun_district_show_edit: function() {
              $('.block_district_selected_name_edit').show();
          },
          fun_district_hide_edit: function() {
              $('.block_district_selected_name_edit').hide();
          },  
            
            
            

          fun_church_fill: function(data) {
                var found = new EJS({text: $('#church_template').html()}).render({data: data});
                $('.block_church_more').html(found);
            }, //dist fill
          fun_church_show: function() {
              $('.block_church_form').show();
              $('.block_church').show();
          }, //church show
          fun_church_hide: function() {
              $('.block_church').hide();
          }, //church hide
          fun_church_select: function(name, data) {
              $('.block_church_selected_name').html(name);
              if (data != undefined)
              {
                  $('.block_church_description').val(data.description);
                  $('.block_church_address').val(data.address);
                  setupMarkerFromObject(data.latitude, data.longitude);
              }
              $('.block_church_form').hide();
              $('.block_church_selected').show();
          }, //church select
          fun_church_unselect: function() {
            $('.block_church_selected').hide();
            $('.block_church_form').show();
          }, //church unselect
          fun_church_clear: function() {
            $('.block_church_more').html('');
          },
          fun_church_show_edit: function() {
              $('.block_church_selected_name_edit').show();
          },
          fun_church_hide_edit: function() {
              $('.block_church_selected_name_edit').hide();
          },
          
          fun_mass_fill: function(data) {
              var found = new EJS({text: $('#mass_template').html()}).render({data: data});
              $('.block_mass_more').html(found);
            }, //dist fill
          fun_mass_show: function() {
              $('.block_mass_form').show();
              $('.block_mass').show();
          }, //church show
          fun_mass_hide: function() {
              $('.block_mass').hide();
          }, //church hide
          fun_mass_clear: function() {
            $('.block_mass_more').html('');
          },
          
          
          fun_hide_save: function() {
              $('#save_all').hide();
          },
          fun_show_save: function() {
            showSaveAll();
          }
        }
    );   

//city ~ 11
//address ~ 16

    
});
</script>
{% endblock %}